{# templates/home/messages.html.twig#}

{#{% for label, flashes in app.session.flashbag.all %}#}
{#    {% for flash in flashes %}#}
{#        {% if label == 'success' %}#}
{#            <div class="alert alert-success">#}
{#                <strong>Success!</strong> {{ flash }}#}
{#            </div>#}
{#        {% elseif label == 'error' %}#}
{#            <div class="alert alert-danger">#}
{#                <strong>Error!</strong> {{ flash }}#}
{#            </div>#}
{#        {% elseif label == 'info' %}#}
{#            <div class="alert alert-info">#}
{#                <strong>Info!</strong> {{ flash }}#}
{#            </div>#}
{#        {% elseif label == 'warning' %}#}
{#            <div class="alert alert-warning">#}
{#                <strong>Warning!</strong> {{ flash }}#}
{#            </div>#}
{#        {% endif %}#}
{#    {% endfor %}#}
{#{% endfor %}#}




{% for label, flashes in app.flashes %}
    {% for flash in flashes %}
        {% switch label %}
            {% case 'success' %}
<div class="alert alert-success">
    <strong>Success!</strong> {{ flash }}
</div>
{% case 'error' %}
<div class="alert alert-danger">
    <strong>Error!</strong> {{ flash }}
</div>
{% case 'info' %}
<div class="alert alert-info">
    <strong>Info!</strong> {{ flash }}
</div>
{% case 'warning' %}
<div class="alert alert-warning">
    <strong>Warning!</strong> {{ flash }}
</div
