{% extends 'base.html.twig' %}

{% block title %}Kullanıcı Kaydı{% endblock %}

{% block mainContent %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Kullanıcı Kayıt
                <small><a href="{{ path('app_login') }}">Giriş Yap</a></small>
            </h1>

        </section>

        <section class="content">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Kullanıcı Kayıt Formu</h3>
                </div>
                {{ form_start(form, {'attr': {'class': 'form', 'role': 'form'}}) }}
                <div class="box-body">
                    {{ form_row(form.name) }}
                    {{ form_row(form.surname) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.password) }}
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Kayıt Ol</button>
                </div>
                {{ form_end(form) }}
            </div>
        </section>
    </div>
{% endblock %}
