{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Category index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Parent Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% if categories is not empty %}
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.parentId }}</td>
                    <td>{{ category.title }}</td>
                    <td>{{ category.description }}</td>
                    <td>{{ category.category }}</td>
                    <td>
                        <a href="{{ path('category_show', {'id': category.id}) }}">Show</a>
                        <a href="{{ path('category_edit', {'id': category.id}) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6">No records found</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <a href="{{ path('category_new') }}">Create new</a>
{% endblock %}
