{% block title %}Edit Product{% endblock %}

{% block body %}
    <h1>{{ product.title }}</h1>

    <form action="{{ path("product_iupdate",{'id': id}) }}" method="post" enctype="multipart/form-data">
        Select image to upload:
        <input type="file" name="image" id="fileToUpload">
        <input type="submit" value="Upload Image" name="submit">
    </form>

{#    <div>#}
{#        <img src="{{ product.image }}" alt="">#}
{#    </div>#}

{% endblock %}


{#{% block body %}#}
{#    <h1>Product Image Edit</h1>#}

{#    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}#}
{#    {{ form_widget(form) }}#}
{#    <button type="submit">Upload Image</button>#}
{#    {{ form_end(form) }}#}

{#    <a href="{{ path('product_index') }}">back to list</a>#}
{#{% endblock %}#}

